.footer-custom {
    background-color: #424949;
}

@media (max-width:600px) {
    .footer_link {
        display: none;
    }
}

.footer_link {
    text-align: center;
}

@media(max-width:990px) {
    .footer-custom {
        text-align: center;
    }
}

