/* ******************************************************************  body-1  ************************************************** */

.body1 {
    display: inline-block;
    padding: 15px;
    height: 86vh;
    margin-top: 11vh;
}

@media (max-width:768px){
    .body1 {
        height: auto;
        margin-top: 75px;
    }
    .body1_text{
        margin-top: 12px;
        margin-bottom: 12px
    }
    .carousel-item {
        height: 60vh !important;
    }
    .carousel-inner{
        height: 60vh;
        margin-right:3px !important;
        margin-left: 3px !important;
    }

}

.carousel-item {
    margin-top: 5vh;
    height: 75vh;
    object-fit: contain  !important;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1s ease;
}

.body1_text h2 {
    font-size: 60px;
    color: black;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:990px) {
    .body1_text h2 {
        font-size: 50px;
    }
}

@media(max-width:768px) {
    .body1_text h2 {
        margin-top: 5px;
    }
}

.body1_text p {
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:990px) {
    .body1_text p {
        font-size: 25px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    background-size: contain;
}

@media(max-width:1200px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }
}


/* ****************************************************************** end body-1  ************************************************** */



/* ******************************************************************  body-2  ************************************************** */

.body2 {
    /* background-color: #85c1e9; */
    background-image: url(../image/Background/Sky_.png);
    height: auto;
    border-radius: 5px;
    object-fit: contain;
    
}

.body2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
}

.body2-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

@media (max-width: 990px) {
    .body2-box {
        margin-top: 5px;
    }

    .body2-box2 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body2-box2 .row {
        width: 95%;
        /* max-width: 500px; */
    }
}

.text_title {
    font-size: 35px;
    color: white;
    text-shadow: 1px  1px 0 #b2babb; 
    font-weight: bold;
}

.body2 h2 {
    font-size: 35px;
    color: white;
    text-shadow: 1px  1px 0 #b2babb; 
    font-weight: bold;
}


@media(max-width:990px) {
    .body2 h2 {
        font-size: 25px;
    }
}

.body2 p {
    color: white;
    text-shadow: 1px  1px 0 #b2babb; 
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    text-indent: 10%;
    padding-left: 5%;
    padding-right: 5%;  
}

@media(max-width:768px) {
    .body2 p {
        font-size: 15px;
        text-indent: 5%;
        text-align: center;
    }
    .body2-box {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .body2-box2 .row {
        width: 100%;
        /* max-width: 500px; */
    }
}

.VDO_box {
    width: 100%;
    padding: 10px;
}

.body2-box2 .card-body {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */

}


/* ******************************************************************  body-3  ************************************************** */
.card_product {
    overflow: hidden;
    border-radius: 10px;
}

.card_product img {
    transition: transform 0.3s ease-in-out; 
}

.card_product:hover img {
    transform: scale(1.1); 
}








