/* body */
.body1 {
    display: inline-block;
    padding: 15px;
    height: auto;
    padding-bottom: 25px;
}

@media (max-width: 990px) {

    .body1 .col-7,
    .body1 .col-5 {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
}

.text-left h2,
.text-left p {
    color: black;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .carousel-item {
        height: auto;
    }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1s ease;
}

@media (max-width:600px) {
    .carousel-inner {
        height: 320px;
    }
}

.body1_text h2 {
    font-size: 60px;
    color: black;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:990px) {
    .body1_text h2 {
        font-size: 50px;
    }
}

.body1_text p {
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:990px) {
    .body1_text p {
        font-size: 25px;
    }
}

.body2 {
    background-color: #85c1e9;
    /* min-height: 450px; */
    height: auto;
    border-radius: 10px;
}

.body2 h2 {
    font-size: 35px;
    color: white;
    text-shadow: 1px  1px 0 #b2babb; 
    font-weight: bold;
    /* text-align: center; */
}


@media(max-width:990px) {
    .body2 h2 {
        font-size: 25px;
    }
}

.body2 p {
    color: white;
    text-shadow: 1px  1px 0 #b2babb; 
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    text-indent: 10%;
    padding-left: 5%;
    padding-right: 5%;  
}

@media(max-width:990px) {
    .body2 p {
        font-size: 15px;
    }
}

@media(max-width:990px) {
    .body2-box {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
}

.body2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
}

.body2-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

@media (max-width: 990px) {
    .body2-box2 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body2-box2 .row {
        width: 95%;
        /* max-width: 500px; */
    }
}

@media (max-width: 600px) {
    .body2-box2 .row {
        width: 100%;
        /* max-width: 500px; */
    }
}

.VDO_box {
    width: 100%;
    padding: 10px;
}

.body2-box2 .card-body {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-item {
    height: 460px;
    object-fit: contain !important;
    overflow: hidden;
    border-radius: 8px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    background-size: contain;
}

@media(max-width:1200px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }
}

.card-img-left {
    width: 250px;
    height: 250px;
}






